body {
  font-family: 'Lato', 'Helvetica', sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #01beb4;
  background: #fee8ef;
  background: linear-gradient(to right bottom, #fee8ef 50%, #b6cdfd 50%);
  height: 100vh;
  margin: 0;
}

.wrapper {
  max-width: 600px;
  padding: 40px 0;
  margin: 0 auto;
  text-align: center;
}

.button {
  box-sizing: border-box;
  display: inline-block;
  padding: 0 10px;
  margin: 5px;
  cursor: pointer;
  font-family: inherit;
  font-size: 1em;
  line-height: 2;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  background: white;
  color: #01beb4;
  border: 3px solid #01beb4;
  border-radius: 6px;
  outline: none;
}

.button:hover, .button:focus {
  outline: none;
  background: #bdf0f1;
}

input {
  width: 0;
  height: 0;
  opacity: 0;
  cursor: pointer;
  display: none;
}

a, a:visited {
  color: #01beb4;
  text-decoration: none;
  border-bottom: 1px solid #01beb4;
  /*border-bottom: 3px solid #01beb4;
  box-shadow: inset 0 -2px 0 #01beb4;*/
  color: inherit;
  -webkit-transition: background .15s cubic-bezier(.33,.66,.66,1);
  transition: background .15s cubic-bezier(.33,.66,.66,1);
}

a:hover {
  background: #01beb4;
  color: white;
}

footer {
  border-top: 3px solid #01beb4;
  margin: 30px 0;
  padding: 10px 0;
  text-transform: uppercase;
  font-size: 14px;
}

.output {
  min-height: 300px;
}

.slider-label {
  line-height: 35px;
  vertical-align: middle;
}
paper-slider {
  display: inline-block !important;
  vertical-align: middle;
}
